<div class="body-container">
  <div class="scan">
    <div class="fingerprint"></div>
    <h3>Scanning...</h3>
  </div>
  <div class="card-container">
    <div class="card-inner">
      <mat-card
        *ngIf="rotatedState == 0"
        class="msg-container"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <mat-card-header style="display: flex; flex-direction: column">
          <mat-card-title>
            <mat-icon
              class="car-icon"
              style="font-size: 8rem; margin-left: 40%"
            >
              directions_car</mat-icon
            >
            <h2 class="tittle-text" style="color: #5ae6ff; font-size: 2.5rem">
              Bienvenido al Estacionamiento
            </h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p class="msh-text" style="font-size: 1.8rem; margin-left: 1.6rem">¡Estamos encantados de tenerte aquí!</p>
          <p class="msh-text" style="font-size: 1.8rem; margin-left: 1.6rem">para comenzar escanea tu codigo QR</p>
        </mat-card-content>

        <mat-card-actions
          style="
            display: flex;
            flex-direction: column;
            margin: auto 2rem 10% 1.6rem;
          "
        >
          <div
            class="login-info"
            style="display: flex; flex-direction: column; gap: 8px"
          >
            <div class="buttons" style="display: flex; gap: 10%">
              <button
                (click)="rotatedState = 1"
                color="primary"
                mat-raised-button
              >
                Ingresa
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card
        *ngIf="rotatedState == 1"
        class="msg-container tp-box__side tp-box__back"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <mat-card-header style="display: flex; flex-direction: column">
          <mat-card-title>
            <mat-icon
              class="car-icon"
              style="font-size: 8rem; margin-left: 40%"
            >
              directions_car</mat-icon
            >
            <h2 class="tittle-text" style="color: #5ae6ff; font-size: 2.5rem">
              Bienvenido al Estacionamiento
            </h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p style="font-size: 1rem; margin-left: 1.6rem">
            Por favor proporcione sus credenciales
          </p>
        </mat-card-content>

        <mat-card-actions
          style="
            display: flex;
            flex-direction: column;
            margin: auto 2rem 10% 1.6rem;
          "
        >
          <div
            class="login-info"
            style="display: flex; flex-direction: column; gap: 8px"
          >
            <form [formGroup]="form" (ngSubmit)="login()">
              <mat-form-field appearance="fill" class="example-full-width email-username-field" style="width: 100%">
                <mat-label>Email or Username</mat-label>
                <input
                  [errorStateMatcher]="matcher"
                  formControlName="emailOrUsername"
                  matInput
                  placeholder="Ex. pat@example.com or user123"
                  type="text"
                >
                <mat-hint *ngIf="form.get('emailOrUsername')?.valid && form.get('emailOrUsername')?.touched">
                  Looks good!
                </mat-hint>
                <mat-error *ngIf="form.get('emailOrUsername')?.hasError('required')">
                  Email or Username is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="form.get('emailOrUsername')?.hasError('pattern')">
                  Please enter a valid email address or username
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="example-full-width password-field" style="width: 100%">
                <mat-label>Password</mat-label>
                <input
                  [errorStateMatcher]="matcher"
                  formControlName="password"
                  matInput
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Enter your password"
                >
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                  <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint *ngIf="form.get('password')?.valid && form.get('password')?.touched">
                  Password meets the requirements
                </mat-hint>
                <mat-error *ngIf="form.get('password')?.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="form.get('password')?.hasError('maxlength')">
                  Password cannot be more than 20 characters long
                </mat-error>
              </mat-form-field>
              <div mat-dialog-actions class="mat-dialog-actions">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Send</button>
              </div>
            </form>
            <button (click)="rotatedState = 0" color="warn" mat-raised-button>
              <mat-icon>arrow_back</mat-icon>
              Back
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
