*{
  color: #f3f3f3;
}
.main-container{
  .mat-dialog-content{
    .head-body-form{
      width: 100% !important;
      display: flex !important;
      justify-content: space-between !important;

      .email-field,.username-field{
        width: 48% !important;
      }
    }

    .fullname-field,.password-field{
      width: 100% !important;
      margin-top: 2rem !important;
    }
  }

  .actions-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button{
      width:100%;
    }
  }
}
