<h1>Bienvenido de vuelta</h1>
<div class="main-container">
<div class="left-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Active Park</mat-card-title>
      <mat-card-subtitle>Gestión de autos</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Gestiona de manera sencilla y eficiente los autos estacionados.
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="accent" aria-label="Ir a Active Park"
              (click)="handleNavigate('active-park')"
      >
        <mat-icon>directions_car</mat-icon> Ir
      </button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Active Users</mat-card-title>
      <mat-card-subtitle>Gestión de usuarios registrados</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Gestiona de manera sencilla y eficiente los usuarios registrados en el sistema. Además, crea nuevos usuarios rápidamente con nuestra interfaz intuitiva.
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="accent" aria-label="Ir a Active Users"
              (click)="handleNavigate('active-users')"
      >
        <mat-icon>person</mat-icon> Ir
      </button>
    </mat-card-actions>
  </mat-card>
</div>
  <div class ="right-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Historial</mat-card-title>
        <mat-card-subtitle>Consulta los registros históricos</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Consulta fácilmente los registros históricos de las entrada y salidas de los estacionamientos.
        </p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="accent" aria-label="Ver historial"
                (click)="handleNavigate('history')"
        >
          <mat-icon>history</mat-icon>ir
        </button>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Editar Perfil</mat-card-title>
        <mat-card-subtitle>Actualiza tu información personal</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Modifica los detalles de tu perfil, como nombre, dirección de correo electrónico y otros datos personales. Asegúrate de guardar los cambios para actualizar tu información.
        </p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="accent" aria-label="Ir a Editar Perfil"
                (click)="handleNavigate('settings')"
        >
          <mat-icon>edit</mat-icon> Ir
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
