.main-container{
  width: 90%;
  gap: 1rem;
  display: flex;

  mat-card{
    min-height: 35vh;

    mat-card-actions {
      padding: 0 2rem;
      margin-top: auto; // Empuja las acciones hacia la parte inferior
    }
  }
}
