.main-container{
  width: 90%;
  height: 100%;

  .searchContainer{
    display: flex;
    align-items: center;
    width: 100%;
    .search{
      width: 80%;
    }

    .dates{
      padding-left: 15px;
      width: auto;
    }
  }
}
