<div class="container-main">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>
        <h2 style="font-size: x-large">Bienvenido devuelta</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card class="data-card">
        <mat-card class="data-card-card"><p>Fecha de entrada : </p>
          <p class="dataFromJson">{{ fechaEntrada }}</p>
        </mat-card>
        <mat-card class="data-card-card"><p>Hora de entrada : </p>
          <p class="dataFromJson">{{ horaEntrada }}</p>
        </mat-card>
        <mat-card class="data-card-card"><p>Tiempo de uso: </p>
          <p class="dataFromJson">{{ tiempoUso }}</p>
        </mat-card>
        <button (click)="handleNavigate('home')"
                color="warn" mat-button>regresar
        </button>
      </mat-card>
      <mat-card class="reloj-card">
        <div class="clock-container">
          <app-clock></app-clock>
        </div>
      </mat-card>
    </mat-card-content>
    <mat-card-footer>
      <small></small>
    </mat-card-footer>
  </mat-card>
</div>
